@keyframes drop-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

.title {
  font-size: 25px;
  font-family: 'Proxima Nova';
  color: white;
}
/*
  Media-query
*/
.rectangle {
    width: 450px;
    height: 400px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid aqua;
    border-width: 2px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 55%;
}
  
.show {
  display: block;
}

.img_input_label {
  display: inline-block;
  width: 25%;
  padding: 12px 20px;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 14px;
  border: 1.5px solid red;
  font-size: 16px;
  cursor: pointer;
}

.img_input {
  display: none;
}

.pdf_input_label {
  display: inline-block;
  width: 25%;
  padding: 12px 20px;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 14px;
  border: 1.5px solid red;
  font-size: 16px;
  cursor: pointer;
}

.pdf_input {
  display: none;
}