.bg_image {
    background-image: url('../../public/firstdiv.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_image2 {
    color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    }

.logo {
    position: fixed;
    width: 10%;
    left: 1%;
    bottom: 1%;
    z-index: -1;
}
.container {
    display: flex;
    z-index: -2;
}
  
.blackDiv {
    width: 100%;
    height: 1000px;
    background-color: black;
    z-index: -2;
    margin-bottom: -108vh;
}

.title1 {
    position: fixed;
    font-family: 'Proxima Nova';
    color: white;
    font-size: 250%;
    margin-top: -3.5%;
    z-index: -1;
}

.title2 {
    position: fixed;
    font-family: 'Proxima Nova';
    font-size: 250%;
    color: white;
    z-index: -1;
}

.subtitle1 {
    position: fixed;
    font-size: small;
    font-family: 'Proxima Nova';
    font-size: 110%;
    margin-top:8%;
    color: white;
    z-index: -1;
}

.subtitle2 {
    position: fixed;
    font-size: small;
    font-size: 110%;
    font-family: 'Proxima Nova';
    margin-top:12%;
    color: white;
    z-index: -1;
}

.golden {
    color: goldenrod;
}
