.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: background-color 0.5s ease;
}

.title {
    font-size: 25px;
    font-family: 'Proxima Nova';
    color: white;
}

.span {
    font-size: 16px;
    font-family: 'Proxima Nova';
    color: white;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.span:hover {
    opacity: 1;
}

button.launchbutton {
    background-color: black;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: relative;
    left: 0;
}
  
button.launchbutton:hover {
    background-color: #3b5998;
    color: white;
    transition: background-color 0.5s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }